<!doctype html>
<html lang="en">
  <head>
    <title>To Do List</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <style>

        h3{
            color: white;
        }

        th{
            color: white;
        }

    </style>

  </head>
  <body>
      
    {% block body %}

     <nav class="navbar navbar-expand navbar-light bg-primary">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <h3>To Do List</h3>
            </li>
        </ul>
    </nav>

    <div class="container">
        <br />
        <form action="{{path('new_task')}}" method="POST">
            <label><h5>Task Name</h5></label>
           <div class="input-group mb-3">
                <input type="text" name="title" class="form-control" placeholder="Insert task...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">+ Add</button>
            </div>
            </div>
        </form>

        <br />
        <table class="table table-striped table-bordered">
            <thead class="bg-primary">
                <tr>
                    <th>Task List</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td scope="row"> - {{ task.title }}
                    <a onclick="return confirm('Do you want to delete this task?')" class="btn btn-danger float-right" href="{{ path('delete_task', {'id':task.id})}}">X</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% endblock %}
  </body>
</html>
